.note_title {
  font-size: smaller;
  padding: 0 0.5em;
  color: white;
}
.note_title.info {
  background-color: #349ef3;
}
.note_title.warn {
  background-color: #f5aa0a;
}
.note_title.alert {
  background-color: #f5311d;
}
.note {
  position: relative;
  text-align: left;
  padding: 10px 15px;
  min-height: 30px;
  margin: 1em 0 1em;
  margin-top: -1.5px;
  border: none;
  border-left: 3px solid;
  word-break: break-word
}
.note p {
  margin: 0.1em 0 0
}
.note.info {
  border-color: #349ef3;
  background-color: #e6f3fe;
}
.note.warn {
  border-color: #f5aa0a;
  background-color: #fdf1d8
}
.note.alert {
  border-color: #f5311d;
  background-color: #feecea
}
